terraform {
  backend "s3" {
    endpoint                    = "storage.yandexcloud.net"
    bucket                      = "terraform-object-storage-ivf"
    region                      = "us-east-1"
    key                         = "terraform.tfstate"
    access_key                  = "qu"
    secret_key                  = "qu"
    skip_region_validation      = true
    skip_credentials_validation = true
  }
}
